input[type="file"] {
  display: none;
}

body {
  background: rgb(0,133,31);
  background: linear-gradient(90deg, rgba(0,133,31,0.1) 0%, rgba(105,255,138,0.1) 49%, rgba(0,212,255,0.1) 100%);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

#file-chosen {
  border: 2px dotted rgb(0,133,31);
  padding: 20pt;
  background: #ffffff;
}

.book_cards_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.group-of-cards {
}

.group-of-cards__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.group-of-cards__header {
  text-align: center;
}


.book_card {
  display: flex;
  flex-direction: column;
  border: 2px dotted rgb(0,133,31);;
  padding: 1rem;
  margin: 1rem;
  background: #ffffff;
}

.seller-name {
  text-align: center;
}

.print_button {
  margin: 0 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60mm;
  height: 58mm;
  margin: 0;
  padding: 4mm;
}

.barcode {
  margin: 0;
  padding: 0;
}

.barcode_image {
  width: 100%;
  height: 100%;
}

.text {
  margin: 0;
  padding: 0;
  font-size: 10pt;
  text-align: center;
  font-weight: bold;
}

.text > p {
  margin: 0;
  padding: 0;
}

.text > b {
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}



